@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
*{
    background-color: rgb(255, 255, 255);
    font-family: "cairo";
    box-sizing: border-box;
}
h1{
    color: green;
    background-color: rgb(172, 218, 161);
    font-size: 50px;
}
nav1{
    background-color: rgb(172, 218, 161);
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
a1{
    text-decoration: none;
    color:green;
    background-color: rgb(172, 218, 161);
    transition: ease .6s;
    font-size: 20px;
}
a2{
    text-decoration: none;
    color:green;
    background-color: rgb(172, 218, 161);
    transition: ease .6s;
    font-size: 50px;
}

header{
    background-color: rgb(172, 218, 161);
    border-top: solid green 5px ;
    position: fixed;
    width: 100%
    
}
nav,a{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 68, 4);
       color: rgb(195, 243, 183);
    transition: ease .6s;
    font-size: 20px;
   
 
}
a{
    text-decoration: none;
    color: rgb(195, 243, 183);
    transition: ease .6s;
    font-size: 20px;
}

a:hover{
    text-decoration:underline;

    color: green;
    font-size: 22px;

}
